

body {
  background: linear-gradient(to bottom right, #118ab2, #864879);
  /* background-color: #118ab2; */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}


header, footer {
   background-color: #073b4c;
  color: #fff;
  text-align: center;
  padding: 10px 0;

}

h1 {
  font-size: 36px;
  margin: 0;
  letter-spacing: 2px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: #343a40;
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  color: #6c757d;
  font-size: 16px;
}

/*Styling for Connect 4 */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.board {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 276px;
  width: 330px;
  background: blue;
}

.board div {
  height: 40px;
  width: 40px;
  margin: 3px;
  border-radius: 20px;

}

.square {
  background: green;
}

.taken {
  /*background:red !important */
}

.currentPlayer {
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding-bottom: 5px;

}

.player-one {
  background: red;
}

.player-two {
  background: yellow;
}

.restart {
  background: red;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 100px;
  left: 100px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styling for Shopping Cart */
.cart-container {
  text-align: center;
  max-width: 600px;
  background-color: rgba(101, 155, 173, 0.7);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 10px;
  box-shadow: 0px 25px 40px #07223533;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
}

.item {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;

}

.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.item p {
  margin: 0 10px 0 10px;
  font-weight: bold;
  
}

.item .price {
  margin-left: auto; 
  /* Push the price to the right side of the container */
}

label {
  margin: 0 10px 0 10px;
  
}

input[type="number"] {
  margin-left: 10px;
  width: 50px;
  padding: 5px;
}

input[type="checkbox"] {
  margin-left: 10px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out;

}

input[type="submit"]:hover {
  background-color: #898989;

}